//  ===============
//  Color Variables
//  ===============
$color-prim-light: rgb(116, 119, 191);
$color-prim-dark: rgb(77, 76, 114);
$color-sec-dark: lighten($color-prim-dark, 45%);
$color-sec-light: lighten($color-prim-light, 35%);
$font-color-light: #ffffff;

//  ============
//  Breakpoints
//  ============
$breakpoints: (
        'mobile'  : 320px,
        'tablet'  : 768px,
        'desktop' : 1024px,
);

//  ======
//  Dividers
//  ======
$border: 1px solid $color-sec-dark;

//  ======
//  Fonts
//  ======

