// ============
// mixins
// ============

@mixin center-text  ($margin-r: auto, $margin-l: auto){
  margin: auto $margin-r auto $margin-l;
}

@mixin divider($border-l: $border){
  border-bottom: $border;
  border-left: $border-l;
}


@mixin m-q($break) {
  $value: map-get($breakpoints, $break);

  @if $value == null {
    @error "`#{$break}` is not a valid breakpoint name.";
  }

  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}