// ============
// mixins
// ============

@mixin margin(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto) {
  margin: $top $right $bottom $left;
}

@mixin padding(
  $top: null,
  $right: 10px,
  $bottom: 10px,
  $left: 10px
) {
  padding: $top $right $bottom $left;
}

@mixin divider($left: $border) {
  border-bottom: $border;
  border-left: $left;
}

@mixin border(
  $br-w: 1px,
  $br-style: solid,
  $br-color: $color-sec-dark
) {
  border: $br-w $br-style $br-color;
  border-radius: 5px;
}

@mixin mQ($break) {
  $value: map-get($breakpoints, $break);

  @if $value == null {
    @error "`#{$break}` is not a valid breakpoint name.";
  }
  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}