%chart {
  @include divider($left: null);
  padding-bottom: 15px;
}

%grid-col-tablet-1-1 {
  @include mQ('tablet') {
    grid-column: 1 / span 1;
  }
}

%grid-col-tablet-1-2 {
  @include mQ('tablet') {
    grid-column: 1 / span 2;
  }
}
%grid {
  display: grid;
}

%flex {
  display: flex;
}

%grid-col-desktop-1-1 {
  @include mQ('desktop') {
    grid-column: 1 / span 1;
  }
}

%grid-col-desktop-2-1 {
  @include mQ('desktop') {
    grid-column: 2 / span 1;
  }
}