
.header {
  @extend %flex;
  grid-area: header;
  padding: 15px 10px;
  justify-content: space-between;
  background-color: $color-prim-light;
  color: $font-color-light;
}

.tittle {
  @include center-text($margin-l: 10px);
}

.student-img {
  @include center-text(5px, 5px);
  width: 70px;
  border-radius: 50%;
}

.bell-notifications {
  @include center-text(5px, 5px);
  padding-right: 10px;
  border-right: $border;
}

.bell {
  width: 40px;
}

