//  ============
//  Grid layout
//  ============
.grid-container {
  @extend %grid;
  grid-template-rows: auto;
  grid-template-areas:
          'header'
          'nav'
          'main';

  @include mQ('tablet') {
    //max-width: 100vw;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
            "header header"
            'nav main';
  }
}

.main-header {
  @extend %flex;
  @extend %grid-col-tablet-1-2;
}

.widget-container-full {
  @include mQ('tablet') {
    width: 90vw;
  }
}

.widget-container-half {
  @include mQ('tablet') {
    width: 45vw;
  }
}

//  ==============
//  Main content
//  ==============
.main {
  @extend %grid;
  grid-area: main;
  @include mQ('tablet') {
    grid-template-columns: 50%;
  }
}

.headline {
  margin: 20px;
}

.tab {
  @include divider;
  width: 100%;
}

.alert {
  @include border($br-style: null, $br-color: null);
  @extend %flex;
  @extend %grid-col-tablet-1-2;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 0 15px;
  background-color: $color-prim-light;


  &-message {
    color: $color-font-light;
  }

  &-close {
    color: $color-font-light;
    display: contents;

    &:hover {
      color: $color-prim-dark;
      cursor: pointer;
    }
  }
}

//  Todo: add padding-top: 15px to class .div
.div {
  @include divider($left: null);
  margin: 0 15px;

  &:last-child {
    display: none;
  }
}
