//  =============
//  Traffic Chart
//  =============

.traffic {
  @extend %chart;
  @extend %grid-col-tablet-1-2;

  &-header {
    @include mQ('tablet') {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
  }

  &-nav {
    @extend %flex;
    margin-right: 30px;
    padding: 0;
    justify-content: space-around;
  }

  &-nav-link {
    padding: 10px;

    @include mQ('tablet') {
      margin: auto 10px;
    }

    &:hover {
      @extend %cursor;
      border-style: none;
      border-radius: 25px;
      background-color: $color-light-green;
      color: $color-font-light;
    }
  }
}


//  =============
//  Daily Traffic
//  =============
.daily {
  @extend %chart;
  @extend %grid-col-tablet-1-1;
}

//  ============
//  Mobile Users
//  ============
.mobile {
  @extend %chart;

  @include mQ('tablet') {
    @include divider;
  }
}

