//  =============
//  Traffic Charts
//  =============

.traffic {
  @extend %chart;
  @extend %grid-col-1-2;

  &-header {
    @include m-q('tablet') {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
  }
}


.daily {
  @extend %chart;
  @extend %grid-col-1-1;
}


.mobile {
  @extend %chart;
  @include m-q('tablet') {
    @include divider;
  }
}

.traffic-nav {
  @extend %flex;
  margin-right: 30px;
  padding: 0;
  justify-content: space-around;

  &-link {
    padding: 10px;
    @include m-q('tablet') {
      margin: auto 10px;
    }

    &:hover {
      border-style: none;
      border-radius: 25px;
      background-color: #7dc28b;
      color: $font-color-light;
    }
  }
}
