//  =============
//  Traffic Charts
//  =============

.traffic,
.daily,
.mobile {
  padding-bottom: 15px;
  @include divider($border-l: null)
}

.traffic-nav {
  @extend %flex;
  margin-right: 30px;
  padding: 0;
  justify-content: space-around;
}


//  =============
//  media queries
//  =============

@media (min-width: 768px) {
  .mobile {
    @include divider;
  }
  .traffic-nav-link {
    margin: auto 10px;
  }
  .traffic-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}

