.social {
  @extend %grid-col-1-2;

  &-flex {
    @extend %grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  &-container {
    @include border();
    //@include margin();
    @extend %flex;
    margin-left: 10px;
    padding: 5px 10px;
  }

  &-img {
    @include margin($left: 5px, $right: 0);
    width: 75px;
  }

  &-text {
    @include margin($left: 10px)
  }

}
