.social {
  @include padding($bottom: 15px, $top: 0);
  @include divider($left: null);
  @extend %grid-col-tablet-1-2;

  & h3 {
    padding: 0;
  }

  &-grid {
    @extend %grid;
    //@include padding();
    gap: 10px;

    @include mQ('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-container {
    @include border();
    @include padding($top: 10px);
    @extend %flex;
    background-color: $color-sec-light;
  }

  &-text {
    @include margin($left: 10px);

    &:nth-child(1) {
      color: $color-prim-light;
    }
  }
}

.social-text p:nth-child(1) {
  font-weight: normal;
  font-size: x-large;
  color: $color-prim-light;
  margin: 5px 0;
}

.social-text p:nth-child(2) {
  font-weight: lighter;
  font-size: 3em;
  color: $color-sec-dark;
  margin: 5px 0;
}

.social-icon {
  @include box-origin;
  fill: $color-font-light;
}

.social-img {
  @include icon;
}