.social {
  @include padding($bottom: 15px, $top: 0);
  @include divider($left: null);
  @extend %grid-col-tablet-1-2;

  & h3 {
    padding: 0;
  }

  &-grid {
    @extend %grid;
    //@include padding();
    gap: 10px;

    @include mQ('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-container {
    @include border();
    @include padding($top: 10px);
    @extend %flex;
    background-color: $color-sec-light;
  }

  &-img {
    @include margin($left: 5px, $right: 0);
    width: 75px;
  }

  &-text {
    @include margin($left: 10px);

    &:nth-child(1) {
      color: $color-prim-light;
    }
  }
}
