.members {
  @extend %grid;
  @extend %grid-col-tablet-1-2;
  @extend %grid-col-desktop-1-1;
  @include divider($left: null);

  &-container {

    @include padding($top: 10px);
    @extend %flex;

    flex-direction: column;
    align-items: center;

    @include mQ('tablet') {
      flex-direction: row;
    }
  }

  &-profile-img {
    width: 100px;
    border-radius: 50%;
  }

  &-text-wrapper {
    @include margin();
    @extend %flex;
    flex-direction: column;
    align-items: center;

    @include mQ('tablet') {
      @include margin($left: 10px);
      align-content: flex-start;
    }

    & p {
      @include margin($top: 10px);
      @include mQ('tablet') {
        @include margin($top: 10px, $left: 5px)
      }
    }
  }
}
//  Todo: add padding-top: 15px to class .div
.div {
  @include divider($left: null);
  margin: 0 15px;
}