.message {
  @extend %grid-col-tablet-1-2;
  @extend %grid-col-desktop-1-1;

  &-container {
    @extend %flex;
    align-items: stretch;
    flex-direction: column;
  }
}

.form-field {
  @include border($br-w: 2px);
  background-color: $color-sec-light;
  margin-bottom: 15px;
  padding: 10px;
}

.form-area {
  @extend .form-field;
  min-height: 150px;
}

.btn-send {
  @include margin();
  @include border();
  @include padding($top: 15px, $bottom: 15px);
  background-color: $color-prim-light;
  color: $color-font-light;
  align-self: stretch;
  width: 100%;
}