// ===========
// Base Layout
// ===========

* {
  // Without box-sizing, the width property represents
  // the content area of the element
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

p {
  line-height: 1em;
}

a {
  text-decoration: none;
  color: $color-prim-light;

  &:hover {
    color: $color-prim-dark;
  }
}

ul {
  list-style: none;
}

h3 {
  padding-left: 10px;
}

form {
  padding: 0 10px;
  margin: 0;
}

fieldset {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

select,
button {
  @extend %cursor;
}
